* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
}

.body {
  width: 100%;
  min-height: 100vh;
  background-color: #f9f9f9;
}

.content {
  display: flex;
  flex-direction: column;
  min-height: 100%;
  margin: auto;
  padding: auto;
  width: clamp(690px, 70%, 1000px);
  background-color: white;
}

.flex {
  display: flex;
  flex-direction: column;
}
